# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.virtualenv/

# Django
*.log
db.sqlite3
media/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.env
.env

# Sphinx build
docs/_build/